# EXPRESS API
API_PORT=
API_HOST=

# POSTGRES
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DATABASE=
POSTGRES_PORT=

# POSTGRES ADMIN PAGE
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# VITE FRONTEND
VITE_HOST=
VITE_PORT=
VITE_BACKEND_URL=
